# ignore auxiliary LaTeX files
*.bak
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out

# ignore notes that are by the college
*/notes/*
materials/*

# ignore testing, and programming practice
co000/*
ignored/*
*/ignore.*

# ignore screenshots (just in case), keep co112 screenshots
*/*.png
!co112/*.png