# ignore auxiliary LaTeX files
*.bak
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out

# ignore notes that are by the college
*/notes/*
materials/*

# ignore testing, and programming practice
co000/*
ignored/*
